<div class="row no-gutters">
    <div class="col-12 mt-5">
        <header>Contact Info Panel</header>
        <div class="pl-5 mt-5">
            <p class="">In this page you can see the details of optional customers.</p>
            <p>these people left this information for you to contact them back.</p>
        </div>
    </div>

    <div class="col-12 mt-5">
        <table class="table text-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of contactInfoArray">
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.fullName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.createdAt}}</td>
                    <td><i type="button" class="fas fa-trash"></i></td>
                    <td><i type="button" class="fas fa-pencil-alt"></i></td>
                </tr>

        </table>
    </div>
</div>