<div class="row no-gutters">

    <div class="col-12 mt-5 first-section">
        <header>רשימת ניוזלטר</header>
        <div class="text">רשימת לקוחות אשר השאירו פרטים והצטרפו לרשימת הניוזלטר של האתר</div>
    </div>

    <div class="col-12 container second-section">

        <div class="accordion container p-0" id="accordionExample">
            <div class="card" *ngFor="let user of contactInfoArray;index as i;">
                <div class="card-header" id="heading{{i}}">
                    <div class="row mb-0 wrapper">
                        <span class="btn-block col-6" type="button" data-toggle="collapse"
                            attr.data-target="#collapse{{i}}" aria-expanded="true" attr.aria-controls="{{i}}">
                            <div class="user-name">{{user.fullName}}</div>
                        </span>
                        <td class="col-6 edit-btns">
                            <span class="close-btn" type="button" (click)="deleteNewsletter(user.id)"><i
                                    class="far fa-times-circle"></i></span>
                            <span class="edit-btn" type="button" data-toggle="modal" data-target="#exampleModal">
                                <fa-icon [icon]="faEdit" (click)="getUserID(user.id)"></fa-icon>
                            </span>
                        </td>
                    </div>
                </div>

                <div id="collapse{{i}}" class="collapse p-2" aria-labelledby="heading" data-parent="#accordionExample">
                    <div><b>שם מלא: </b> {{user.fullName}}</div>
                    <div><b>כתובת אימייל: </b> {{user.email}}</div>
                    <div><b>מספר נייד: </b> {{user.phone}}</div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Modal for adding a product if clicked on th PLUS COL-->
<div class="modal fade" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header ">
                <h1 class="modal-title text-dark mb-0" id="exampleModalLabel">עידכון פרטי משתמש</h1>
            </div>
            <div class="modal-body">
                <div class="row no-gutters" style="direction: rtl;">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="שם מלא"
                                [(ngModel)]=newUser.fullName>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="כתובת אימייל"
                                [(ngModel)]=newUser.email>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="מספר נייד"
                                [(ngModel)]=newUser.phone>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="editInfo()" data-dismiss="modal">עדכן
                    פרטים</button>
                <button type="button" id="closeAddModal" class="btn btn-secondary" data-dismiss="modal">
                    סגור</button>
            </div>
        </div>
    </div>
</div>