<div class="aboutMain row no-gutters text-light parallax ">
    <div class="col-xl-2 col-md-0"></div>
    <div class="col-xl-7 col-md-12" style="padding: 40px;">
        <div id="headerTxt" class="mb-5">
            <p>קצת על הסטודיו...</p>
        </div>
        <div id="bodyTxt">

            <p> סטודיו <b>JDevelopments</b> הוקם אודות למספר פניות של עסקים פרטיים אשר ביקשו ורצו להנגיש את העסק שלהם
                ללקוחות נוספים באמצעות האינטרנט.</p>
            <p>הסטודיו שלנו מתמקצע בבניית אתרים ועמודי נחיתה לעסקים בתחילת דרכם.</p>
            <p> הצוות שלנו מורכב מאנשי פיתוח יצירתיים בעלי שאיפות גבוהות ורמת כתיבת קוד גבוהה על מנת לספק לקהל לקוחותינו
                את המוצר הטוב ביותר!</p>
            <p><b><u>בניית אתרים זה לא צחוק - אלו הפנים החדשות של העסק שלכם!</u></b></p>
            <p> אנו משתמשים בשפות התכנות והפלטפורמות המתקדמות והפופולריות ביותר בשוק כיום.</p>
            <p> נשמח להציע לכם את שירותינו בפרויקט הבא שלכם!</p>
            <button type="button" class="btn projects-btn" routerLink="/our-projects">לצפייה בפרוייקטים שלנו</button>
        </div>
    </div>
    <div class="col-xl-3 col-md-0"></div>
</div>



<!-- 
<div class="col-xl-7 col-md-12" style="padding: 50px;">
    <div id="headerTxt" class="my-xl-3">
        <p> About our studio...</p>
    </div>
    <div id="bodyTxt" class="mt-xl-5">
        <p> <b>JDevelopments</b> studio is specializing in developing apps and websites. </p>
        <p> We are developing server-side and client-side apps and websites, using the most known and powerful
            programing languages.</p>
        <p> Mixing our creativity with the best programing languages will develope the best results
            for you.</p>
        <p> We guarantee that we will not stop working on your project until you, our client, will be satisfied
            with the result.</p>
        <p class="mt-4"> We are looking forward to develope your apps and dreams, </p>
        <p> Thank you, <b>JDevelopments</b>.</p>
    </div>
</div> -->