<div class="row no-gutters">
    <div class="col-12 mt-5">
        <header>Services Panel</header>
        <p type="button" class="mt-5">Add new service <i class="fas fa-plus-circle"></i></p>
    </div>
    <div class="col-4 serviceCard my-5" *ngFor="let adminService of adminServicesArray">
        <img src="{{adminService.img}}">
        <h5 class="card-title my-2">{{adminService.title}}</h5>
        <div class="container description my-3">
            <p>{{adminService.description}}</p>
        </div>

        <div class="row no-gutters adminBtnServ">
            <div class="col-6">
                <span type="button" class="btn btn-danger">DELETE <i class="fas fa-trash"></i> </span>
                <span type="button" class="btn btn-success">EDIT <i class="fas fa-pencil-alt"></i></span> </div>
        </div>

    </div>
</div>