<div class="row no-gutters mainServices">

    <div class="col-xl-12 col-md-12 col-sm-12 servicesHeader">
        <p>השירותים שאנו מציעים</p>
    </div>

    <div class="col-xl-4 col-md-4 col- my-xl-5 my-md-5 my-4 serviceCard" *ngFor="let service of servicesArray">
        <img src="{{globalUrl}}{{service.img}}">
        <h5 class="card-title"><b>{{service.title}}</b></h5>
        <div class="container description my-3">
            <p>{{service.description}}</p>
        </div>
    </div>

    <div class="col-12 lngsHeader ">
        <p>משתמשים בטכנולוגיות המתקדמות ביותר!</p>
    </div>

    <div class="container lngs my-5">
        <app-frameworks-slider></app-frameworks-slider>
    </div>

</div>