<div class="pt-4 pb-4 footer bg-dark" *ngIf="boolPath !== true">
    <div class="row no-gutters">
        <div class="col-12 d-flex justify-content-center">
            <a href={{facebookURL}} target="_blank"><img class="socialMedia"
                    src="../../../assets/images/facebook.svg"></a>
            <a href={{instagramURL}} target="_blank"><img class="socialMedia" target="_blank"
                    src="../../../assets/images/instagram.svg"></a>
            <!-- <a href={{githubURL}} target="_blank" title="Github"><img class="socialMedia" target="_blank"
                    src="../../../assets/images/github.svg"></a> -->
            <a href={{whatsappURL}} target="_blank" title="whatapp"><img class="socialMedia"
                    src="../../../assets/images/whatsapp.svg"></a>
            <a href={{linkedinURL}} target="_blank" title="linkedin"><img class="socialMedia"
                    src="../../../assets/images/linkedin.png"></a>
        </div>
        <div class="col-12 d-flex justify-content-center mt-4">
            <img class="site-logo" src="../../../assets/images/JD_Logo.png">
        </div>
        <div class="col-12 d-flex justify-content-center mt-4 links">
            <div>
                <span class="m-3"><a routerLink="contact-us">יצירת קשר</a></span>
                <span style="opacity: 0.3;">|</span>
                <span class="m-3"><a routerLink="privacy-policy">תקנון אתר</a></span>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12 d-flex justify-content-center mt-2 copyright">
            <p><small class="text-white-50">© כל הזכויות שמורות לסטודיו <a
                        href={{googleSearchURL}}>JDevelopments</a></small>
            </p>
        </div>
    </div>
</div>


<!-- <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 location">
                <h2 class="mt-lg-1"><b>המיקום שלנו</b></h2>
                <p>קרית ביאליק, ישראל</p>
                <p class="my-2"><i class="fa fa-phone ml-3"></i><a href="tel:0505796203">050-579-6203</a></p>
                <p class="my-2"><i class="fa fa-envelope ml-3"></i><a
                        href="mailto:joy@jdevelopments.co.il">joy@jdevelopments.co.il</a></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 links">
                <h2 class="mt-lg-0"><b>קישורים</b></h2>
                <ul class="m-0 p-0">
                    <li class="my-2">- <a class="mr-2" routerLink="/">דף הבית</a></li>
                    <li class="my-2">- <a class="mr-2" routerLink="/our-services">שירותינו</a></li>
                    <li class="my-2">- <a class="mr-2" routerLink="/our-projects">פרויקטים</a></li>
                    <li class="my-2">- <a class="mr-2" routerLink="/contact-us">דברו איתנו</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 about-company">
                <h2><b>חפשו אותנו ברשתות</b></h2>
                <p>
                    <a href={{facebookURL}} target="_blank"><img class="socialMedia"
                            src="../../../assets/images/facebook.svg"></a>
                    <a href={{instagramURL}} target="_blank"><img class="socialMedia" target="_blank"
                            src="../../../assets/images/instagram.svg"></a>
                    <a href={{githubURL}} target="_blank" title="Github"><img class="socialMedia" target="_blank"
                            src="../../../assets/images/github.svg"></a>
                    <a href={{whatsappURL}} target="_blank" title="whatapp"><img class="socialMedia"
                            src="../../../assets/images/whatsapp.svg"></a>
                    <a href={{linkedinURL}} target="_blank" title="linkedin"><img class="socialMedia"
                            src="../../../assets/images/linkedin.png"></a>
                </p>
                <div class="mr-2">
                    <img id="siteLogo" src="../../../assets/images/JD_Logo.png">
                </div>

            </div>
        </div>

        <div class="row mt-5">
            <div class="col copyright">
                <p><small class="text-white-50">© 2020. כל הזכויות שמורות.</small></p>
            </div>
        </div>
    </div> -->