<div class="row no-gutters" id="opener">
    <div class="text">
        <div id="firstSntc">
            <p> JDEVELOPMENTS</p>
        </div>
        <div id="secondSntc">
            <p><span>PROFESSIONAL</span> WEB SOLUTIONS</p>
        </div>
        <button type="button" class="btn quotation-btn" routerLink="/contact-us">לקבלת הצעת מחיר</button>
    </div>
    <video autoplay muted loop class="videoBG" *ngIf="width > 1294">
        <source src="../../../assets/videos/video1.mp4" type="video/mp4" name="בניית אתרים" />
    </video>
</div>

<div class="row no-gutters bg-dark leaveInfoMain">
    <app-leave-info></app-leave-info>
</div>

<app-about></app-about>