<div class="row no-gutters" id="opener">
    <div class="text">
        <div id="firstSntc">
            <p> JDEVELOPMENTS</p>
        </div>
        <div id="secondSntc">
            <p><span>PROFESSIONAL</span> WEB SOLUTIONS</p>
        </div>
        <button type="button" class="btn quotation-btn" routerLink="/contact-us">לקבלת הצעת מחיר</button>
        <button type="button" class="btn about-btn" (click)="scrollToAboutUs()">קצת עלינו</button>
    </div>
    <video class="videoBG" autoplay muted loop>
        <source src="../../../assets/videos/video1.mp4" type="video/mp4" name="בניית אתרים" />
    </video>
</div>

<div class="row no-gutters bg-dark leaveInfoMain">
    <div id="particles-js"></div>
    <app-leave-info>

    </app-leave-info>

</div>

<div class="">
    <div id="about-us-scroll"></div>
    <app-about></app-about>
</div>