<div class="row no-gutters mainContact">

    <section class="col-lg-6 col-12 right-section">
        <div class="text">
            אתם מוזמנים לשלוח לנו הודעה כבר עכשיו על מנת שנציג שלנו ישוב אליכם בקרוב ויענה לכם על כל השאלות!
        </div>
        <div class="row contactForm">
            <div class="col-xl-12 col-md-12">
                <header>טופס יצירת קשר</header>
            </div>

            <div class="col-xl-12 col-md-12 form-group my-3">
                <input type="text" class="form-control" id="fullName" placeholder="שם מלא" [(ngModel)]="obj.fullName">
            </div>

            <div class="col-xl-6 col-md-6 form-group my-3">
                <input type="email" class="form-control" id="email" placeholder="כתובת אימייל" [(ngModel)]="obj.email">
            </div>

            <div class="col-xl-6 col-md-6 form-group my-3">
                <input type="tel" class="form-control" id="phone" placeholder="מספר נייד" [(ngModel)]="obj.phone">
            </div>

            <div class="col-xl-12 col-md-12 form-group my-3">
                <label class="float-right">על איזה נושא תרצה לדבר?</label>
                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="obj.service">
                    <option>בניית עמוד נחיתה</option>
                    <option>בניית אתר תדמית</option>
                    <option>בניית חנות מסחר</option>
                    <option>בניית תוכנת ניהול</option>
                    <option>סתם שאלה</option>
                </select>
            </div>

            <div class="col-xl-12 col-md-12form-group my-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="ההודעה שלך..." rows="3"
                    [(ngModel)]="obj.message"></textarea>
            </div>

            <div class="col-xl-12 col-md-12">
                <button type="button" class="btn" (click)="onSubmit()">שלח/י פרטים</button>
            </div>
        </div>

    </section>

    <div class="vl"></div>

    <section class="col-lg-6 col-12 left-section">

        <div class="contact-ways">

            <div class="text">
                בנוסף לטופס השארת הפרטים ניתן למצוא אותנו ברשתות החברתיות.
            </div>

            <hr class="my-4 p-0">

            <div class="social-media">
                <span id="facebook"><a href={{whatsappURL}}><img src="../../../assets/images/social/whatsapp1.png"
                            width="40" /></a></span>
                <span id="instagram"><a href={{instagramURL}}><img src="../../../assets/images/social/instagram.png"
                            width="40" /></a></span>
                <span id="whatsapp"><a href={{facebookURL}}><img src="../../../assets/images/social/facebook1.png"
                            width="40" /></a></span>
            </div>

            <hr class="my-4 p-0">

            <div class="location">
                <div class="row no-gutters">

                    <div class="col-lg-6 col-">
                        <div class="city">קרית ביאליק, ישראל</div>
                        <div class="phone"><i class="fa fa-phone ml-2"></i><a href="tel:0505796203">050-579-6203</a>
                        </div>
                        <div class="email"><i class="fa fa-envelope ml-2"></i><a
                                href="mailto:joy@jdevelopments.co.il">joy@jdevelopments.co.il</a></div>
                    </div>
                    <div class="col-md-6 col-">
                        <img class="bg-vector" src="../../../assets/images/contact-vector.png" />
                    </div>
                </div>


            </div>
        </div>
    </section>


</div>