<section class="row no-gutters mainPortfolio">

    <div class="col-12 projects-txt">
        <div class="header">הפרויקטים שלנו, הם הפנים החדשות שלכם!</div>
        <hr>
        <div class="text">
            כל פרויקט מקבל יחס אישי ומקצועי מהצוות שלנו, על מנת להגיע לרמות הכי גבוהות שאפשר! <br>
            אתם יותר ממוזמנים לצפות בפרויקטים שלנו ולהתרשם!
        </div>
    </div>

    <div class="col-12 mb-5">
        <div class="row pr-3 pl-3">
            <div class="col-xl-4 col-md-6 col-sm-6" *ngFor="let project of projectsArray">
                <div class="card">
                    <a href="{{project.url}}" target="_blank">
                        <img src='{{globalUrl}}{{project.pc_img}}' class="card-img" alt="בניית אתרים">
                        <div class="card-img-overlay text-white">
                            <p class="card-title">{{project.title}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>